<section class="sectionLogin">
  <div class="row g-0">
    <!-- Slider -->
    <div class="col-4 slider d-flex">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide carouselStyle"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img [src]="movie1" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img [src]="movie2" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img [src]="movie3" class="d-block w-100" alt="..." />
          </div>
        </div>
      </div>
    </div>
    <!-- Form Login -->
    <div class="col d-flex">
      <form [formGroup]="userProfileForm" class="formContainer">
        <div class="boxContainer">
          <div class="intoFormContainer">
            <div class="mb-3">
              <p class="iniciarSesion">RECORDAR CONTRASEÑA</p>
              <p class="information">Digita tu correo electrónico</p>
              <input
                type="email"
                class="form-control inputs"
                placeholder="Correo Electrónico"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && userProfileForm.get('email')?.errors }"
              />
              <div *ngIf="submitted && userProfileForm.get('email')?.errors" class="invalid-feedback">
                <div *ngIf="userProfileForm.get('email')?.errors?.['required']">El correo electrónico es requerido.</div>
                <div *ngIf="userProfileForm.get('email')?.errors?.['pattern']">Por favor, ingrese un formato de correo válido Ej: example@gmail.com</div>
              </div>
            </div>
            <div class="mb-3" [hidden]="!userActive">
              <p class="iniciarSesion">RECORDAR CONTRASEÑA</p>
              <p class="information">Digita tu nueva contraseña</p>
              <input
                type="password"
                class="form-control inputs"
                placeholder="Nueva Contraseña"
                formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && userProfileForm.get('password')?.errors }"
              />
              <div *ngIf="submitted && userProfileForm.get('password')?.errors" class="invalid-feedback">
                <div *ngIf="userProfileForm.get('password')?.errors?.['required']">La Contraseña es requerida.</div>
                <div *ngIf="userProfileForm.get('password')?.errors?.['minlength']">La contraseña debe tener mínimo 6 caracteres.</div>
              </div>
            </div>
          </div>

          <div class="text-center pt-1">
            <button type="submit" class="btn btnEnviar" (click)="userIsRegister()">Enviar</button>
            <button type="submit" class="btn btnEnviar" (click)="changePassword()" [hidden]="!userActive">Cambiar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
